page-home {
    h1{
        font-family: 'Encode Sans Condensed', sans-serif;
        font-family: 'Roboto Mono', monospace;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Karla', sans-serif;
        font-family: 'Varela Round', sans-serif;
    }
    .item{
        padding-top: 16px;
        border-bottom: 1px solid black;        
    }
   
}
